.side-bar
  .side-header
    .side-header__items
      .side-header__items__name
        aaa
      .side-header__items__icons
        .side-header__item__icons__new-group
          = link_to "#" do
            = icon('far', 'edit')
        .side-header__item__icons__user-edit
          = link_to "#" do
            = icon('fa', 'cog')
  .side-groups
    .group
      .group__group-name
        techcamp
      .group__group-messages
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__group-messages
        まだメッセージがありません